Repository Dinkers/The-Curation, pull requests merged in 2021-06, with the labels that each got.

#12 F/place data types
  README.md
  docs/the_curation_insomnia_project.json
  server/README.md
  server/main/admin.py
  server/main/migrations/0001_initial.py
  server/main/migrations/seed/initial_data.json
  server/main/models.py
  server/main/serializers.py
Labels: enhancement

#14 Filters endpoint
  Makefile
  docs/the_curation_insomnia_project.json
  server/config/urls.py
  server/main/migrations/0001_initial.py
  server/main/migrations/seed/initial_data.json
  server/main/models.py
  server/main/serializers.py
  server/main/views.py
Labels: enhancement

#20 Extra endpoints
  docs/the_curation_insomnia_project.json
  server/config/urls.py
  server/main/serializers.py
  server/main/views.py
Labels: enhancement, server

#32 #22 update city select
  client/package-lock.json
  client/package.json
  client/src/assets/styles/App.scss
  client/src/components/Button/Button.js
  client/src/components/Card/Card.js
  client/src/components/Modal/Modal.js
  client/src/components/Modal/Modal.module.scss
  client/src/components/Notification/Notification.js
  client/src/containers/Home/ui/CitySelect.js
Labels: enhancement, front-end, home screen

#33 adding PlaceTypeSelect functionality and a bit of refactoring
  client/src/containers/Home/Home.js
  client/src/containers/Home/data/homeImageMaps.js
  client/src/containers/Home/data/homeSelectors.js
  client/src/containers/Home/data/homeSlice.js
  client/src/containers/Home/ui/CitySelect.js
  client/src/containers/Home/ui/PlaceSelect.js
  client/src/containers/Home/ui/PlaceTypeSelect.js
Labels: enhancement, front-end, home screen

#34 fixing filter selection reset when returning from Place screen
  client/src/containers/Home/ui/CitySelect.js
Labels: bug, front-end, home screen
